<!-- <page-header PageTitle="Tasks Status"></page-header> -->
<div class="card-header">
  <div class="flex justify-content-between flex-wrap card-container purple-container">
    <div class="flex align-items-center justify-content-center m-2">
      <h3>Tasks Status</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-20">
    <div class="col-lg-3">
      <span class="p-float-label">
        <p-dropdown class="sprintDrop width200" [options]="sprints" optionLabel="sprintName"
                    [(ngModel)]="selectedSprint" display="chip" (onChange)="OnSprintSelectionChanged()"></p-dropdown>
        <label for="ms-cities">Select Sprint</label>
      </span>
    </div>
    <div class="col-lg-3 mt-40">
      <p-radioButton *ngIf="selectedSprint" name="group1" value="User Story" label="User Story"
                     [(ngModel)]="selectedWorkItemTypeValue" inputId="opt1"
                     (onClick)="OnWorkItemTypeChanged($event)"></p-radioButton>&nbsp;&nbsp;
      <p-radioButton *ngIf="selectedSprint" name="group1" value="Bug" label="Bug"
                     [(ngModel)]="selectedWorkItemTypeValue" inputId="opt2"
                     (onClick)="OnWorkItemTypeChanged($event)"></p-radioButton>
    </div>
    <div class="col-lg-6 ">
      <span class="p-float-label">
        <p-dropdown display="chip" *ngIf="selectedWorkItemTypeValue != ''" [panelStyle]="{ 'max-width':'400px'}"
                    [style]="{'max-width':'400px'}" class="width300" [options]="workItemList" optionLabel="Title"
                    [(ngModel)]="selectedWorkItem" (onChange)="OnWorkItemSelectionChanged($event)" placeholder="Select WorkItem"
                    dataKey="selectedWorkItemId"></p-dropdown>
        <label for="ms-cities">Select WorkItem</label>
      </span>
    </div>
  </div>
  <div class="row mt-10">
    <div class="col-lg-12">
      <p *ngIf="totalWorkItemCount == 0"><b>No {{workItemTypeDisplayText}} found in selected Sprint.</b></p>
    </div>
  </div>
  <div class="row mt-10">
    <div class="col-lg-12">
      <p *ngIf="totalWorkItemCount > 0 && totalTaskCount == 0"><b>No tasks found in selected Work Item.</b></p>
    </div>
  </div>
  <div class="row mt-10" *ngIf="selectedWorkItem">
    <div class="col-lg-4">
      <div class="mt-30">
        <div class="mt-10" *ngIf="totalTaskCount > 0">
          <p class="text-center"><b>Tasks by state</b></p>
          <p class="text-center">Total Tasks : {{totalTaskCount}}</p>
          <div>
            <p-chart type="pie" [data]="pieChartData" [options]="pieChartOptions"></p-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="taskTable" *ngIf="employeeData.length > 0">
        <data-export [TableCaption]="tableCaption" (exportToCSV)="tableEmployeeTaskStatus.exportCSV()"></data-export>
        <p-table #tableEmployeeTaskStatus [paginator]="false" [rows]="8" class="taskTable" [columns]="columns"
                 [value]="employeeData" aria-disabled="true" styleClass="p-datatable-gridlines p-datatable-sm"
                 [tableStyle]="{ 'width': '100%' }" [exportFilename]="tableCaption">
          <ng-template pTemplate="header">
            <tr>
              <th *ngFor="let col of columns" class="table-header">
                {{ col.header }}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-employeeData>
            <tr>
              <td class="td-highlight text-left">
                {{ employeeData.empName }}
              </td>
              <td class="text-right">
                {{ employeeData.new }}
              </td>
              <td class="text-right">
                {{ employeeData.active + employeeData.prReview + employeeData.deliveredToQA }}
              </td>



              <!-- <td>
            {{ employeeData.prReview }}
        </td> -->
              <!-- <td>
            {{ employeeData.deliveredToQA }}
        </td> -->
              <td class="text-right">

                {{ employeeData.resolved }}
              </td>
              <td class="text-right">
                {{ employeeData.closed }}
              </td>
              <td class="text-right">
                {{ employeeData.removed }}
              </td>
              <td class="text-right">
                {{ employeeData.total }}
              </td>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
              <td class="td-highlight text-left">
                {{tableFooter.empName}}
              </td>
              <td class="text-right">{{tableFooter.new}}</td>
              <td class="text-right">{{tableFooter.active + tableFooter.prReview + tableFooter.deliveredToQA }}</td>
              <td class="text-right">{{tableFooter.resolved}}</td>
              <td class="text-right">{{tableFooter.closed}}</td>
              <td class="text-right">{{tableFooter.removed}}</td>
              <td class="text-right">
                {{ tableFooter.total }}
              </td>
            </tr>

          </ng-template>
        </p-table>
      </div>
      <div class="taskDetailsTable mt-10" *ngIf="workItemTasksData.length > 0">        
        <data-export [TableCaption]="taskDetailsTableCaption" (exportToCSV)="tableWorkItemTaskStatus.exportCSV()"></data-export>
        <p-table #tableWorkItemTaskStatus [paginator]="true" [rows]="8" class="taskDetailsTable" [columns]="workItemTaskCoulmns"
                 [value]="workItemTasksData" aria-disabled="true" styleClass="p-datatable-gridlines p-datatable-sm"
                 [tableStyle]="{ 'width': '100%' }" [exportFilename]="taskDetailsTableCaption">
          <ng-template pTemplate="header">
            <tr class="sub-table-header">
              <th *ngFor="let col of workItemTaskCoulmns" class="table-header">
                {{ col.header }}
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-workItemTasksData>
            <tr>
              <td class="text-left" width="60%">
                {{ workItemTasksData.TaskName }}
              </td>
              <td width="20%">
                {{ workItemTasksData.Status }}
              </td>
              <td class="text-right" width="20%">
                {{ workItemTasksData.DurationInHrs }}
              </td>
            </tr>

          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
              <td class="text-left">
                {{ tableTaskDataFooter.TaskName }}
              </td>
              <td>
                {{ tableTaskDataFooter.Status }}
              </td>
              <td class="text-right">
                {{ taskDetailsTableDurationInHrs }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
