<div class="outdiv">

<div class="outercard">
    <div class="card-header">
        <h3>New Employee</h3>
        <button class="addbutton">  <i class='fas fa-arrow-circle-left'><span> Back</span></i></button>
    </div>
  


    <div class="container">
      
        <form action="/action_page.php">
          <div class="row">
            <div class="col-25">
              <label for="fname">First Name<span class="astric">*</span></label>
            </div>
            <div class="col-25">
              <input
              type="text"
              class="input-control"
              placeholder=""
              pInputText/>
            </div>
            </div>
            <div class="row">          
            <div class="col-25">
              <label for="lname">Last Name <span class="astric">*</span></label>
            </div>
            <div class="col-25">
                <input
                type="text"
                class="input-control"
                placeholder=""
                pInputText/>
            </div>
          </div>

          <div class="row">          
            <div class="col-25">
              <label for="lname">Email <span class="astric">*</span></label>
            </div>
            <div class="col-25">
                <input
                type="text"
                class="input-control"
                placeholder=""
                pInputText/>
            </div>
          </div>

          <div class="row">          
            <div class="col-25">
              <label for="lname">Address <span class="astric">*</span></label>
            </div>
            <div class="col-25">
              <textarea>
                </textarea>
            </div>
          </div>

          <div class="row">          
            <div class="col-25">
              <label for="lname">Phone <span class="astric">*</span></label>
            </div>
            <div class="col-25">
                <input
                type="text"
                class="input-control"
                placeholder=""
                pInputText/>
            </div>
          </div>

          <div class="row">
            <input type="submit" class="cntrbtn" value="Submit">
          </div>

         
      



      
             
      
      
        </form>
      </div>
    </div>

