nav ul {
    position: relative;
    list-style-type: none;
}

nav ul li a {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.15em;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    padding: 10px 30px;
    height: 50px;
    transition: .5s ease;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.username {
    color: #fff;
    font-size: 14px; 
}

nav ul ul {
    position: flex;
    display: none;
    left: 30px;
    width: 200px;
    top: 0px;
}

nav ul .dropdown {
    position: relative;
    left: -15px;

}

.submenu {
    left: 10px !important;
}

.fa-chevron-right {
    float: right;
}

