<!--Design by foolishdeveloper.com-->


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<script>
  var hamburger = document.querySelector(".hamburger");
  hamburger.addEventListener("click", function () {
    document.querySelector("body").classList.toggle("active");
  })

</script>
<style>
  * {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px !important;
  }

  body {
    background: #f5f6fa;  
  }

  html {
    font-size: 14px;
  }

  .wrapper .sidebar {
    background: rgb(5, 68, 104);
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
  }

  .wrapper .sidebar .profile {
    margin-bottom: 30px;
    /* text-align: Left; */
    margin-left: 15px !important;
    font-size: 30px;
  }

  .wrapper .sidebar .profile img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
  }

  .wrapper .sidebar .profile h3 {
    color: #ffffff;
    margin: 0px 0 10px;
    font-weight: bold;
    font-size: 22px !important;
  }

  .wrapper .sidebar .profile p {
    color: rgb(206, 240, 253);
    font-size: 14px;
  }

  .wrapper .sidebar ul li a {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 15px;
    position: relative;
  }

  .wrapper .sidebar ul li a .icon {
    color: rgb(241, 237, 237);
    width: 30px;
    display: inline-block;
  }


  .wrapper .sidebar ul li a:hover,
  .wrapper .sidebar ul li a.active {
    color: #0c7db1;

    background: white;
    /* border-right: 2px solid rgb(5, 68, 104); */
  }

  .wrapper .sidebar ul li a:hover .icon,
  .wrapper .sidebar ul li a.active .icon {
    color: #0c7db1;
  }

  .wrapper .sidebar ul li a:hover:before,
  .wrapper .sidebar ul li a.active:before {
    display: block;
  }

  .wrapper .section {
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
  }

  .wrapper .section .top_navbar {
    background: rgb(7, 105, 185);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;

  }

  .wrapper .section .top_navbar .hamburger a {
    font-size: 28px;
    color: #f4fbff;
  }

  .wrapper .section .top_navbar .hamburger a:hover {
    color: #a2ecff;
  }

  .wrapper .section .container {
    margin-left: 10px;
    width: 99% !important;
  }

  body.active .wrapper .sidebar {
    left: -225px;
  }

  body.active .wrapper .section {
    margin-left: 0;
    width: 100%;
  }
  nav ul .dropdown:hover ul {
    display: initial;
}

</style>

<app-login *ngIf="!loginService.isAuthenticated"></app-login>
<div class="wrapper" *ngIf="loginService.isAuthenticated">
  <div class="section">

    <div class="container">
      <router-outlet></router-outlet>


    </div>
  </div>
  <div class="sidebar">
    <div class="profile">
      
      <!-- <img src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg" alt="profile_picture"> -->
      <h3>New Tech</h3>
      <span class="username">Welcome {{loginService.userName}}!</span>
    </div>

    <nav>
      <ul>
        <li class="dropdown">
          <a href="#"><i class="fas fa-th"></i>&nbsp;&nbsp;Teams Data
            <!-- <i class="fas fa-chevron-right"></i> -->
          </a>
          <ul>
            <li>
              <a href="#" routerLink="/Dashboard">
                <span class="icon"><i class="fas fa-database"></i></span>
                <span class="item">Dashboard</span>
              </a>
            </li>
            <li>
              <a href="#" routerLink="/TeamDetails">
                <span class="icon"><i class="fas fa-database"></i></span>
                <span class="item">Teams Data</span>
              </a>
            </li>

            <li>
              <a href="#" routerLink="/TeamMemberDetails">
                <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                <span class="item">Team Members</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul *ngIf="loginService.userRole !== Role.Admin">
        <li class="dropdown">
          <a href="#" [routerLink]="['/weeklyreport/Steps']"><i class="fas fa-file"></i>&nbsp;&nbsp;Weekly Report
            <!-- <i class="fas fa-chevron-right"></i> -->
          </a>
          <ul>
            <li>
              <a [routerLink]="['/weeklyreport/Steps']" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">
                <i class="fa fa-th"></i>
                Weekly Summary
              </a>
            </li>
            <li>
              <a [routerLink]="['/weeklyreport/Report']" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">
                <i class="fa fa-file"></i>
                Report
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li class="dropdown">
          <a href="#" [routerLink]="['/devops-matrix/home']"><i class="fas fa-chart-bar"></i>&nbsp;&nbsp;DevOps-Matrix
            <!-- <i class="fas fa-chevron-right"></i> -->
          </a>
          <ul>
            <li>
              <a [routerLink]="['/devops-matrix/home']" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">
                <i class="fas fa-home"></i>
                Home
              </a>
            </li>
            <li>
              <a [routerLink]="['/devops-matrix/upload-sprint-data']" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">
                <i class="fas fa-upload"></i>
                Upload Sprint Data
              </a>
            </li>
            <li>
              <a [routerLink]="['/devops-matrix/sprint-details']" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">
                <i class="fas fa-table"></i>
                Sprint Details
              </a>
            </li>
            <li>
              <a>
                <i class="fas fa-chart-bar"></i>
                Charts
              </a>

              <ul class="submenu">
                <li>
                  <a [routerLink]="['/devops-matrix/chart-work-status']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    1. Work Status
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/devops-matrix/chart-team-performance']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    2. Team Performance
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/devops-matrix/chart-work-items-by-state']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    3. Work Items By State
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/devops-matrix/chart-task-status']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    4. Task Status
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/devops-matrix/chart-individual-performance']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    5. Individual Performance
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/devops-matrix/chart-sprint-performance']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    6. Sprint Performance
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/devops-matrix/chart-velocity']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    7. Sprint Velocity
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/devops-matrix/chart-work-analysis']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    8. Work Analysis
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          <a [routerLink]="['/login']" routerLinkActive="active" (click)="loginService.logout()"
                [routerLinkActiveOptions]="{exact:true}" class="logout-link">
                <i class="fa fa-power-off"></i>
                Logout
              </a>
        </li>
      </ul>
    </nav>
  </div>

</div>
<p-toast></p-toast>