<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sideBarFixed" style="width: 260px;height: -webkit-fill-available;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap" /></svg>
    <span class="fs-4">
      DevOps Matrix
    </span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto font15">
    <li class="nav-item">
      <a class="nav-link text-white" [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="pi pi-home"></i>
        Home
      </a>
    </li>
    <li>
      <a class="nav-link text-white" [routerLink]="['/upload-sprint-data']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="pi pi-upload"></i>
        Upload Sprint Data
      </a>
    </li>
    <li>
      <a class="nav-link text-white" [routerLink]="['/sprint-details']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="pi pi-table"></i>
        Sprint Details
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <i class="pi pi-chart-bar"></i>
        Charts
      </a>
      <div class="ml-25">
        <ul class="nav nav-pills flex-column mb-auto">
          <li>
            <a class="nav-link text-white" [routerLink]="['/chart-work-status']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
              1. Work Status
            </a>
          </li>
          <li>
            <a class="nav-link text-white" [routerLink]="['/chart-team-performance']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
              2. Team Performance
            </a>
          </li>
          <li>
            <a class="nav-link text-white" [routerLink]="['/chart-work-items-by-state']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
              3. Work Items By State
            </a>
          </li>
          <li>
            <a class="nav-link text-white" [routerLink]="['/chart-task-status']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
              4. Task Status
            </a>
          </li>
          <li>
            <a class="nav-link text-white" [routerLink]="['/chart-individual-performance']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
              5. Individual Performance
            </a>
          </li>
          <li>
            <a class="nav-link text-white" [routerLink]="['/chart-sprint-performance']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
              6. Sprint Performance
            </a>
          </li>
          <li>
            <a class="nav-link text-white" [routerLink]="['/chart-velocity']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
              7. Sprint Velocity
            </a>
          </li>
          <li>
            <a class="nav-link text-white" [routerLink]="['/chart-work-analysis']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
              8. Work Analysis
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <hr>
</div>
<script type="text/javascript">
  /* global bootstrap: false */
  (function () {
    'use strict'
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    tooltipTriggerList.forEach(function (tooltipTriggerEl) {
      new bootstrap.Tooltip(tooltipTriggerEl)
    })
  })()
</script>
