<app-loader [loading]="loading"></app-loader>

<div class="card-header">
  <div class="flex justify-content-between flex-wrap card-container purple-container">
    <div class="flex align-items-center justify-content-center m-2">
      <h3>Team Details</h3>
    </div>
    <div class="flex align-items-center justify-content-center m-2">
      <p-button styleClass="p-button-raised  p-button-warning p-button" routerLink="/AddTeamDetails">ADD TEAM
        DETAILS</p-button>
    </div>
  </div>
</div>

<div class="container">
  <div class=" mt-2">
    <div class="flex flex-nowrap overflow-hidden card-container green-container">
      <div class="flex-1 border-round">
        <div class="flex  align-items-center m-2">

          <p-radioButton value='All' [(ngModel)]="selected" (click)="radioFilterData()"
            style="display:inline-block;padding:5px">
          </p-radioButton>
          <label for="selected1">All</label>

          <p-radioButton value='Active' [(ngModel)]="selected" (click)="radioFilterData()"
            style="display:inline-block;padding:5px">
          </p-radioButton>
          <label for="selected1">Active</label>

          <p-radioButton value='InActive' [(ngModel)]="selected" (click)="radioFilterData()"
            style="display:inline-block;padding:5px">
          </p-radioButton>
          <label for="selected2">InActive</label>

        </div>


      </div>
      <div class="flex align-items-center justify-content-end m-2 border-round ">
        <label style="padding: 14px;">Team</label>
        <select [(ngModel)]="SelectedValue" (change)="onDropdownSelected(SelectedValue.value)" [value]="tableData1"
          style="float: right; margin-right: 5px;">

          <option value=0 disabled>Select</option>
          <option value=9999>All</option>
          <option *ngFor="let data of tableData1" value={{data.id}}>{{data.name}}</option>

        </select>

      </div>
    </div>
  </div>

  <div class="card">

    <div class="flex flex-column">
      <div class="m-2"> <input type="text" class="p-inputtext" (keyup)="filterData(searchKey.value)" #searchKey
          placeholder="Search By Team Details" pInputText /></div>
      <div class="m-2">
        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
          class="p-button-success ml-2 rightalign" pTooltip="XLS" tooltipPosition="bottom">
        </button>


        <p-table #myTab [columns]="cols" [value]="tableData" styleClass="p-datatable-gridlines" [paginator]="true"
          [rows]="10" [showCurrentPageReport]="true" [globalFilterFields]="['Name']">

          <ng-template pTemplate="header">

            <tr style="background-color:#D5DBDB;height: 40px;">

              <th>Name</th>
              <th>Project Name</th>
              <th>Team Size</th>
              <th>Cli Lead</th>
              <th>Per Lead</th>
              <th>Scrum Master</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-data>

            <tr>



              <td style="font-weight: bold;">

                {{ data.name }}

              </td>

              <td>

                {{ data.projectName }}

              </td>

              <td>

                {{ data.totalSize }}

              </td>

              <td>

                {{ data.cli_Lead }}

              </td>

              <td>

                {{ data.per_Lead }}

              </td>



              <td>

                {{ data.scrumMaster }}

              </td>

              <td style="font-weight: bold;">
                {{ data.status == 1 ? "InActive" : "Active"}}

              </td>

              <td width="13%">

                <p-button icon="pi pi-search" (click)="showViewTeamDetails(data.id)"
                  styleClass="p-button-sm p-button-rounded p-button-danger p-button-outlined"></p-button>
                <p-button icon="pi pi-pencil" (click)="showEditTeamDetails(data.id)"
                  styleClass="p-button-sm p-button-rounded p-button-danger p-button-outlined"></p-button>

                <!-- <p-button icon="pi pi-trash" (click)="deleteTeamDetailsById(data.id)"
                  styleClass="p-button-sm p-button-rounded p-button-danger p-button-outlined"></p-button> -->


                <p-button icon="pi pi-trash" (click)="deleteProduct(data.id,data.name)"
                  styleClass="p-button-sm p-button-rounded p-button-danger p-button-outlined"></p-button>
              </td>

            </tr>

          </ng-template>
        </p-table>
      </div>
    </div>

  </div>
</div>


<p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span>Are you sure you want to delete Team - <b>{{deletedname}}</b>?</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
      (click)="deleteProductDialog = false"></button>
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
      (click)="deleteTeamDetailsById(deletedid)"></button>
  </ng-template>
</p-dialog>