table {
    border-collapse: collapse;
    width: 100%;
  }
  
   
  
  th, td {
    text-align: left;
    padding: 8px;    
  }
  td textarea {
    width: 100%;
    height: 100%
}
   
  
  tr:nth-child(even){background-color: #f2f2f2}
  
   
  
  th {
    background-color: #74c1fb;
    color: white;
    font-size: medium;
  }

  .radio-style-green{
    background-color: green;
    margin-left: 20px;
    border: 4px solid green;
  }

  .radio-style-yellow{
    background-color: yellow;
    margin-left: 20px;
    border: 4px solid yellow;
  }
  .radio-style-red{
    background-color: red;
    margin-left: 20px;
    border: 4px solid red;
  }